<html>
  <head>
    <script src="./index.mjs" defer="defer"></script>
  </head>
  <body>
    <h1>Test: load JS with "template funciton", see the output in browser console</h1>
    <div id="app"></div>
  </body>
</html>